<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace与某一个接口全类名一致-->
<mapper namespace="com.pxy.mybatis.mapper.ParameterMapper">
    <!--List<Student> getAllStudent();-->
    <select id="getAllStudent" resultType="Student">
        select *
        from student
    </select>

    <!--getStudentByName-->
    <!--单参数 访问-->
    <select id="getStudentByName" resultType="Student">
        select *
        from student
        where name = '${name}'
    </select>

    <!--Student checkLogin(int id,String name);-->
    <select id="checkLogin" resultType="Student">
        select *
        from student
        where id = #{param1}
          and name = #{param2}
    </select>
    <!--Student checkLoginByMap(Map<Integer,String> map);-->
    <select id="checkLoginByMap" resultType="Student">
        select *
        from student
        where id = #{id}
          and name = #{name}
    </select>
    <!--int insertStudent(Student student);-->
    <insert id="insertStudent">
        insert into student
        values (null, #{name}, #{gender}, #{age})
    </insert>
    <!-- Student checkLoginByParam(@Param("id") int id, @Param("name") String name, @Param("gender") char gender,@Param("age") int age );-->
    <select id="checkLoginByParam" resultType="Student">
        select *
        from student
        where id = #{id}
          and name = #{name}
    </select>
</mapper>